<div id="post-{{id}}" class="card">
    <img class = "card-image" src="{{thumbnail}}" alt="image">
    <div id="photo" class = "card-body">
        <p class = "card-title">{{title}}</p>
<a href="/post/{{id}}" class = "anchor-buttons" style = "color: rgb(249, 203, 122">Details</a>
        <p class = "card-text">{{description}}</p>
    </div>
</div>